.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.about__title {
  padding: 70px;
  text-align: center;
  width: 100%;
  background: rgba(184, 184, 184, 0.329);
}

.about__title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: rgb(63, 63, 63);
  position: relative;
}
.about__title h1::before {
  position: absolute;
  bottom: -10px;
  left: 48%;
  background: red;
  height: 3px;
  width: 59px;
  content: '';
}

.about__body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
  /* padding: 70px; */
}
.about__body__info {
  padding: 30px;
  width: 70ch;
  flex: 1;
}

.about__thumbnail img {
  height: 500px;
  width: 450px;
  /* object-fit: contain; */
  margin-bottom: 30px;
  margin-left: 60px;
}

@media screen and (max-width: 840px) {
  .about__body {
    /* max-width: 70ch; */
    font-size: 16px;
    flex-direction: column;
  }

  .about__title h1 {
    font-size: 20px;
  }
  .about__title h1::before {
    width: 39px;
  }
  .about__thumbnail {
    margin-left: -50px;
  }
}
@media screen and (max-width: 540px) {
  .about__body__info {
    width: 35ch;
  }

  .about__thumbnail {
    margin-left: -80px;
    transform: scale(0.8);
  }
}
