.carousel {
  height: 100%;
  background: white;
}

.carousel__item img {
  height: 100vh;
  object-fit: cover;
}
.carousel-indicators {
  display: none !important;
}
.carousel__caption {
  position: absolute !important;
  top: 30%;
}

.carousel__captionTitle {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
  color: red;
}

.carousel__captionLead {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.8rem;
  line-height: 40px;
}

@media screen and (max-width: 640px) {
  .carousel__captionTitle {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
  }
  .carousel__captionLead {
    font-size: 1rem;
    padding-bottom: 1.3rem;
    line-height: 30px;
  }
  .carousel__caption {
    top: 40%;
  }
}
