.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__title {
  padding: 70px;
  text-align: center;

  width: 100%;
  background: rgba(255, 255, 255, 0.329);
}
.contact__title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: rgb(63, 63, 63);
  position: relative;
}
.contact__title h1::before {
  position: absolute;
  bottom: -10px;
  left: 48%;
  background: red;
  height: 3px;
  width: 69px;
  content: '';
}

.contact__body {
  background: url('../img/footer-building.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* padding-top: 50px; */
}
