.map {
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  box-shadow: 0px 10px 20px rgba(100, 100, 100, 0.582);
}

.marker:hover {
  cursor: pointer;
}
.marker:hover .marker__info {
  transition: 1.8s ease all;
  opacity: 1;
}
.marker:hover .marker__title {
  transition: 1s ease all;

  opacity: 1;
}
.marker:hover .contact__info {
  transition: 1.6s ease all;

  opacity: 1;
}

.marker:hover .marker__title i {
  opacity: 1;
  transition: ease-in 0.4s all;
}
.marker__title .call:hover {
  filter: blur(0);
  color: blue;
}
.marker__title .email:hover {
  filter: blur(0);
  color: rgb(255, 0, 0);
}
.marker__title .visit:hover {
  filter: blur(0);
  color: rgb(86, 190, 0);
}

.marker {
  height: 100px;
  width: 220px;
  /* background: red; */
  background-image: url('../img/location-icon-6.jpg');
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;

  animation: moveAround 0.6s ease infinite alternate;
  font-size: 25px;
  z-index: 1000;
}
.marker__title {
  position: absolute;
  width: 90%;
  display: flex;
  top: -70px;
  left: -60px;
  opacity: 0;
}

.wave img {
  width: 80px;
  height: 70px;
  mix-blend-mode: darken;
  margin-right: -30px;
}

.marker__title h1 {
  font-size: 18px;
  text-align: center;
  display: flex;
}

.marker__title i {
  /* display: none; */
  opacity: 0;
  border-radius: 80px;

  color: rgba(128, 128, 128, 0.897);
  filter: blur(1px);
  padding: 10px;
  transform-style: preserve-3d;
  transform: rotateX(19deg) rotateY(-30deg);
  background: rgba(236, 236, 236, 0);
  box-shadow: 0px 10px 20px rgba(100, 100, 100, 0.472);
  animation: bounce 1.2s ease-out infinite alternate-reverse;
}

@keyframes bounce {
  from {
    transform: rotateX(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.contact__info h2 .MuiSvgIcon-root {
  color: blue;
}
.contact__info h3 .MuiSvgIcon-root {
  color: rgb(255, 0, 0);
}

.contact__info {
  opacity: 0;

  padding-left: 10px;
  position: absolute;
  left: -200px;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(19deg) rotateY(-30deg);
  animation: moveAroundInfo 1.1s ease-in-out infinite alternate;
}
.contact__info h2 {
  border-radius: 80px;

  background: rgba(236, 236, 236, 0);
  box-shadow: 0px 10px 20px rgba(100, 100, 100, 0.472);
  transform-style: preserve-3d;
  transform: rotateX(-40deg) rotateY(0deg);
  font-size: 18px;
}
.contact__info h3 {
  border-radius: 80px;

  font-size: 16px;
  background: rgba(236, 236, 236, 0);
  box-shadow: 0px 10px 20px rgba(100, 100, 100, 0.472);
}
.marker__info {
  padding-left: 10px;
  position: absolute;
  left: 40px;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  perspective: 1000px;
}

.marker__info {
  font-weight: 700;
  transform-style: preserve-3d;
  transform: rotateX(19deg) rotateY(-39deg);
  opacity: 0;

  animation: moveAroundInfo 1.1s ease-in-out infinite alternate;
}
.marker__info h4 {
  background: rgba(236, 236, 236, 0);
  box-shadow: 0px 10px 20px rgba(100, 100, 100, 0.472);

  border-radius: 80px;
  font-weight: 700;
  transform-style: preserve-3d;
  transform: rotateX(-40deg) rotateY(0deg);
}
.marker__info h6 {
  background: rgba(236, 236, 236, 0);
  box-shadow: 0px 10px 20px rgba(100, 100, 100, 0.281);

  border-radius: 10px;
  font-weight: 500;
  transform-style: preserve-3d;
  /* transform: rotateX(-40deg) rotateY(0deg); */
}

@keyframes moveAroundInfo {
  from {
    transform: rotateX(47deg) rotateY(10deg) translateY(-6px);

    /* background: rgba(255, 255, 255, 0.342); */
  }
  to {
    transform: rotateX(-10deg) rotateY(0deg) translateY(10px);
    /* background: rgba(236, 236, 236, 0.034); */
  }
}
@keyframes moveAround {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 840px) {
  .map {
    width: 380px !important;
    height: 300px !important;
  }
  .marker__info {
    width: 80%;
  }
  .marker__info h4 {
    font-size: 15px;
  }
  .marker__info h6 {
    font-size: 10px;
  }
}
