.navbar {
  width: 100%;
  z-index: 100;
  position: fixed !important;
  top: 0;
}

.navbar__brandLink {
  font-size: 16px;
  padding: 40px;
  font-weight: 700;
}

.navbar__navLink {
  color: rgb(129, 118, 118) !important;
  font-size: 20px;
}
.navbar__navLink:hover {
  color: red !important;
}
.navbar__navLink.active {
  color: red !important;
}

@media screen and (max-width: 640px) {
  .navbar__brandLink {
    font-size: 11px;
    padding: 8px;
    font-weight: 800;
  }
  .navbar__navLink {
    color: black !important;
    font-size: 17px;
  }
}
