.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.partner__title {
  padding: 70px;
  text-align: center;

  width: 100%;
  background: rgba(184, 184, 184, 0.329);
}
.partner__title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: rgb(63, 63, 63);
  position: relative;
}
.partner__title h1::before {
  position: absolute;
  bottom: -10px;
  left: 48%;
  background: red;
  height: 3px;
  width: 69px;
  content: '';
}

.partner__body {
  width: 100%;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner__body__info {
  padding-left: 20px;
  margin-top: 40px;
  width: 50%;
  padding: 40px;
}

.partner__body__info p {
  font-size: 25px;
  text-align: left;
  font-weight: 600;
}

.partner__body__info i {
  font-size: 20px;
  padding: 10px;
}
.partner__body__info i span {
  /* margin-left: 40px; */
  margin-bottom: 30px;
}

.partner__img img {
  margin-top: 50px;
  max-width: 900px;
  max-height: 900px;
  transform: scale(1.2);
}
.partner__img img:hover {
  margin-top: 80px;
  margin-bottom: 40px;
  transform: scale(1.4);
  cursor: zoom-in;
}

@media screen and (max-width: 840px) {
  .partner__img img {
    transform: scale(0.8);
    width: 400px !important;
    height: 400px !important;
  }
  .partner__body__info {
    width: 80%;
  }
}
