.solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.solutions__title {
  padding: 70px;
  text-align: center;

  width: 100%;
  background: rgba(184, 184, 184, 0.329);
}
.solutions__title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: rgb(63, 63, 63);
  position: relative;
}
.solutions__title h1::before {
  position: absolute;
  bottom: -10px;
  left: 48%;
  background: red;
  height: 3px;
  width: 69px;
  content: '';
}
.solutions__services {
  display: flex;
  justify-content: space-between;
  text-align: center;
  overflow-x: scroll;

  scroll-snap-type: x mandatory;
  width: 64%;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 30px;
  border-left: 1px solid rgba(128, 128, 128, 0.157);
  border-right: 1px solid rgba(128, 128, 128, 0.157);
  border-radius: 50px;
}

/* solutions section will show scrollbar */

/* .solutions__services::-webkit-scrollbar {
  visibility: hidden;
  
} */ 
.solutions__services p:hover {
  transform: scale(1.1);
}
.solutions__services p {
  padding-left: 50px;
  padding-right: 52px;
}

.solutions__services .MuiSvgIcon-root {
  font-size: 100px;
  color: rgb(255, 81, 0);
  background: rgba(236, 236, 236, 0);
  border-radius: 25px;
  padding: 10px;
}

.solutions__services p:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}
.solutions__services p:hover .MuiSvgIcon-root {
  box-shadow: 0 0 10px rgba(255, 30, 0, 0.719) inset,
    0 0 10px rgba(255, 8, 0, 0.719);
  background: rgba(253, 82, 3, 0.082);
  color: rgb(255, 0, 0);
}

.solutions__portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.solutions__portfolio img {
  width: 80%;
  max-height: 700px;
  object-fit: contain;
}

.solutions__portfolio img:hover {
  cursor: zoom-in;
  transform: scale(1.2);
}
